<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YourHR</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Hello YourHR</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            molestiae molestias fuga enim atque velit accusamus asperiores
            voluptates corporis? Consectetur sapiente odit esse fuga molestias
            dolor laudantium qui voluptate unde.</p>
          <br />
          <span>
            <a href="/">
              Home</a>
          </span>
        </div>
      </div>

      <div class="right">
        <h5>Registration</h5>
        <form action="/register" method="post">
          <div class="inputs">
            <input type="text" placeholder="Name" name="name" />
            <br />
            <input type="text" placeholder="Email" name="email" />
            <br />
            <input type="text" placeholder="Link for Resume" name="resume" />
            <br />
            <input type="password" placeholder="Password" name="password" />
            <br />
            <input
              type="password"
              placeholder="Confirm password"
              name="conpassword"
            />
            <br />
          </div>

          <br /><br />
          <button type="submit" value="register">Register</button>
        </form>

        <br />
      </div>

    </div>

  </body>
</html>